# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environments
.venv/
venv/
env/

# conda environments
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# logs
*.log

# build files
build/
dist/
*.egg-info/

# git
.git/